@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Archivo:wght@700&family=Old+Standard+TT&display=swap");

* {
    box-sizing: border-box;
}
body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    height: 100%;
    outline: 0;
    display: block;
    overflow-x: hidden;
}
/** Ccmmons style elemetns **/
.main-container { 
    width: 100%;
    padding-bottom: 30px;
    margin-top: -16px;
}

.button {
    width: auto;
    height: 60px;
    padding: 23px 45px;
    color: #ffffff;
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 14px;
    background-color: #BEAD8E;
    border: 2px solid #ffffff00;
    margin-right: 30px;
}

.title-box {
    font-family: "Old Standard TT", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

.title-box--big {
    font-size: 80px;
    margin: 0px auto 0px auto;
} 
.title-box--litle{
    font-size: 20px;
    margin: 0px auto 0px auto;
} 

.text-box {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: justify-center;
}

.section-name {
    font-family: "Archivo", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 3px;
    color: #777777;
    letter-spacing: 5px;
}
