@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Old+Standard+TT&display=swap')

.image-slider--container
    width: 100%
    background-color: #333333

    div
        max-width: 90%
        margin: auto
        padding: 200px
        color: #ffffff

        p:first-child
            font-family: 'Archivo', sans-serif
            font-size: 14px
            text-transform: uppercase
            margin: auto
        p:nth-child(2), p:nth-child(3)
            margin: auto auto auto -9px
            font-family: 'Old Standard TT', sans-serif
            font-size: 120px
        button
            width: 216px
            height: 60px
            padding: 23px 45px
            color: #ffffff
            font-family: 'Archivo', sans-serif
            font-size: 14px
        #take-tour
            background-color: #BEAD8E
            border: 2px solid #ffffff00
            margin-right: 30px
        #learn-more
            border: 2px solid #FFFFFF
            background-color: transparent

